@font-face {
    font-family: "Light";
    src: url("../fonts/BrutalType-Light.eot") format("eot"),
        url("../fonts/BrutalType-Light.ttf") format("ttf"),
        url("../fonts/BrutalType-Light.woff") format("woff"),
        url("../fonts/BrutalType-Light.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Regular";
    src: url("../fonts/BrutalType.eot") format("eot"),
        url("../fonts/BrutalType.ttf") format("ttf"),
        url("../fonts/BrutalType.woff") format("woff"),
        url("../fonts/BrutalType.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Medium";
    src: url("../fonts/BrutalType-Medium.eot") format("eot"),
        url("../fonts/BrutalType-Medium.ttf") format("ttf"),
        url("../fonts/BrutalType-Medium.woff") format("woff"),
        url("../fonts/BrutalType-Medium.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Bold";
    src: url("../fonts/BrutalType-Bold.eot") format("eot"),
        url("../fonts/BrutalType-Bold.ttf") format("ttf"),
        url("../fonts/BrutalType-Bold.woff") format("woff"),
        url("../fonts/BrutalType-Bold.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Ex-bold";
    src: url("../fonts/BrutalType-ExtraBold.eot") format("eot"),
        url("../fonts/BrutalType-ExtraBold.ttf") format("ttf"),
        url("../fonts/BrutalType-ExtraBold.woff") format("woff")
        url("../fonts/BrutalType-ExtraBold.woff2") format("woff2");
    font-display: swap;
}

